{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<div class="p-5 mb-4 bg-light rounded-3 border">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">SafeWay</h1>
    <p>Enter Unsafe Area Details</p>

    <form action="" method="post">
      <p>
          <label >Your Name</label>
          <input type="text" name="name">
      </p>
      <p>
          <label >Location of Incident</label>
          <input type="text" name="location">
      </p>
      <p>
        <label >Incident Details</label>
        <input type="text" name="item">
    </p>
      <p>
          <input type="submit">
      </p>
  </form>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
